@import "variables";
@import "mixins";
@import "loading";

h2 {
  margin: 0;
}

.paymo-logo {
  background: url("../images/logo-dark-new-160.svg") no-repeat 0 0;
  display: inline-block;
  width: 160px;
  height: 29px;
  margin: 0 0 -10px 0;
}

.cont {
  &--padding {
    padding: 10px;
  }
}

.mdl-layout__header {
  background-color: $color-main;
}

.text-right {
  text-align: right;
}

.mdl-badge {
  &--no-margin {
    margin: 0;

    &[data-badge]:after {
      right: -6px;
      color: #FFFFFF;
      width: 30px;
      height: 18px;
      font-size: 10px;
      border-radius: 7px;
    }
  }
}

.buttons-block {
  display: inline-block;
  position: relative;
}

.report-filter {
  &:after {
    @include after-clear();
  }

  &__points {
    position: relative;
    display: block;

    &--checkboxes {
      .mdl-checkbox {
        margin-top: 7px;
      }
    }
  }

  .submit-form {
    .mdl-button {
      color: #FFFFFF;
    }
  }

  .Select {
    &.is-open {
      .Select-placeholder {
        background-color: rgba($color-main, 0.05);
      }
    }
  }
}

.object__component {
  background: #3c3c3c;
  padding: 30px 25px;
}

.shops {
  overflow: hidden;
}

div[class^="col-"] {
  margin: 15px auto;
}

.object__component > p {
  white-space: nowrap;
  overflow: hidden;
  font-size: 17px;
  color: #f9f9f9;
}

.object__component p > span {
  font-size: 17px;
  color: #00b3ee;
}

.loading {
  margin: 20px auto;
  text-align: center;
}

.popup__title {
  margin: 12px 0;
  font-size: 24px;
}

.popup__map {
  padding: 10px;
  height: 300px;
}